section
	a(href='/more/docs')
		h2 Learn
		p.darker Check out the complete documentation and start using More today.
		p.color
			| Documentation
			span.arrow(aria-hidden='true')

//
	section
		a(href='/more/guides')
			h2 Try
			p.darker Want to know how to use it? See more in action and discover how powerful it is.
			p.color
				| Tutorials
				span.arrow(aria-hidden='true')

section
	a(href='https://github.com/mootools/mootools-more')
		h2 Contribute
		p.darker Report bugs issues or help us to extend our documentation.
		p.color
			| GitHub Repository
			span.arrow(aria-hidden='true')

