section.main
	a(href='/more')
		h2
			include header

		p.summary
			| Minimalistic DOM Library for Prime

		p.description.lighter No Native JavaScript Objects were harmed in the making of this library.

		include big-icon
