h2 Modules Overview
div
	h3
		span.command average
	p
		| Calculates the average value of the array.
	:highlight(lang=js)
		[1, 2, 3].average();
		//returns 2


p.docs
	a(href='/more/docs')
		span.arrow Full Documentation
