h2 Modules Overview
div
    h3
        span.command HTML table constructor
    p
        | Builds table elements with methods to add rows quickly.
    :highlight(lang=js)
        var myTable = new HtmlTable({
            properties: {
                border: 5,
                cellpadding: 5
            },
            headers: ['fruits', 'colors'],
            rows: [
                ['apple', 'red'],
                ['lemon', 'yellow']
            ]
        });
        myTable.inject($(document.body));
         
        // and to push more data into it:
        myTable.push(['lime','green']);

div
    h3
        span.command Array average
    p
        | Calculates the average value of the array.
    :highlight(lang=js)
        [1, 2, 3].average();
        //returns 2


p.docs
    a(href='/more/docs')
        span.arrow Full Documentation
