p.summary
	| Welcome to MooTools More, 
	br
	| the official plugin repository for the MooTools JavaScript Framework.
	br
	| More includes extra features to Core classes and UI.

p.description.lighter MooTools More makes MooTools even More awesome.

.use

	ul.clearfix
		li
			form(method="post", action="../builder")
				input(hidden, name="project", value="#{project}")
				input(hidden, name="version", value="#{version}")
				input(type="checkbox", name="removeCoreDependencies", value="1", checked="true", style="display: none;")
				a.button.highlighted.getFile(href='#')
					span
						| Download
						span.version Ver. 1.5.1
						span.icon.download(aria-hidden='true')
		li
			a.button.git(href='http://github.com/mootools/mootools-more')
				span
					| GitHub
					br
					| Repository
					span.icon.github(aria-hidden='true')

p.license 
	| To choose which modules to use visit the 
	a(href='#{page}/builder') builder page.

include big-icon

