each section in toc
    ul.section
        li
            a.top(href="#" + section.link) #{section.text}
        if section.links
            each link in section.links
                li
                    a(href="#" + link.link) #{link.text}