each section in toc
	if section.optional == false
		- var visibility = section.text == file ? '' : 'small';
		ul.section
			li(class="#{visibility}")
				if section.link
					a.top(href= section.link) #{section.text}

				if section.links && section.links.length
					ul
						each link in section.links
							li
								a(href= link.link) #{link.text}
