menu_homepage = {text: "Overview", url: "/prime"}
menu_docs = {text: "Documentation", url: "/prime/docs"}
menu_guides = {text: "Guides", url: "/prime/guides"}
menu_download = {text: "Download", url: "/builder"}

mixin menu([menu_homepage, menu_docs, menu_guides, menu_download], page)
