homepage = {text: "Overview", url: "/prime"}
docs = {text: "Documentation", url: "/prime/docs"}
guides = {text: "Guides", url: "/prime/guides"}
download = {text: "Download", url: "/builder"}

mixin menu([homepage, docs, guides, download], page)
