menu_prime = {text: "Overview", url: "/prime"}
menu_docs = {text: "Documentation", url: "/prime/docs"}
menu_guides = {text: "Guides", url: "/prime/guides"}

mixin menu([menu_prime, menu_docs, menu_guides], page)
