section.main
	a(href='/prime')
		include header

		p.summary.darker
			| Prime is an Object Oriented JavaScript library.
			br
			| It helps you with prototypal inheritance
			br
			| and contains generic utilities for every-day JavaScripting.

		p.description.lighter No Native JavaScript Objects were harmed in the making of this library.

		p.color.big-link
			span.arrow
				| Discover Prime

		include big-icon
