h2 Modules Overview
div
	h3
		span.command prime
	p The function to create new primes.
	pre
		| hi

div
	h3
		span.command prime/shell
	p
		| The base shell. As you require more shells, the base shell will be augmented. Requiring specific shells gives you access to generic methods as well.
	pre
		| hi

p.docs
	a(href='#')
		span.arrow Full Documentation
