menu_agent = {text: "Overview", url: "/agent"}
menu_docs = {text: "Documentation", url: "/agent/docs"}
menu_guides = {text: "Guides", url: "/agent/guides"}
menu_download = {text: "Download", url: "/builder"}

mixin menu([menu_agent, menu_docs, menu_guides, menu_download], page)
