section.main
	a(href='/agent/')
		h2
			include header
		
		p.summary
			| Send super requests
		
		p.description.lighter xxxx
		
		p.color.big-link
			span.arrow
				| Discover Agent
		
		include big-icon
