p.summary
	| Send super requests

p.description.lighter Client-side request module, derived from superagent.

.use

	ul.clearfix
		li
			a.button.highlighted(href='http://npmjs.org/package/agent')
				span
					| Download
					pre.npm npm install agent
					span.icon.download(aria-hidden='true')
		li
			a.button.git(href='https://github.com/kamicane/agent')
				span
					| GitHub
					br
					| Repository
					span.icon.github(aria-hidden='true')

p.license Agent is released under the Open Source MIT License

include big-icon
