div
	h3
		| About
		span.slider(aria-hidden='true')
	ul
		li
			a(href='#') Blog
		li
			a(href='#') Books
		li
			a(href='#') Developers
		li
			a(href='#') Merchandising
div
	h3
		| Support
		span.slider(aria-hidden='true')
	ul
		li
			a(href='#') IRC Channel
		li
			a(href='#') User Group
		li
			a(href='#') The MooTorial
div
	h3
		| Connect with us
		span.slider(aria-hidden='true')
	ul
		li
			a(href='#')
			span.icon.github(aria-hidden='true')
			| GitHub
		li
			a(href='#')
			span.icon.twitter(aria-hidden='true')
			| Twitter
		li
			a(href='#')
			span.icon.facebook(aria-hidden='true')
			| Facebook
		li
			a(href='#')
			span.icon.googleplus(aria-hidden='true')
			| Google+

