div
	h3
		| About
		span.slider(aria-hidden='true')
	ul
		li
			a(href='/blog') Blog
		li
			a(href='#') Books
		li
			a(href='#') Developers
		li
			a(href='#') Merchandising
div
	h3
		| Support
		span.slider(aria-hidden='true')
	ul
		li
			a(href='irc://irc.freenode.net/#mootools') IRC Channel
		li
			a(href='http://groups.google.com/group/mootools-users') User Group
		li
			a(href='http://mootorial.com') The MooTorial
div
	h3
		| Connect with us
		span.slider(aria-hidden='true')
	ul
		li
			a(href='http://github.com/mootools')
				span.icon.github(aria-hidden='true')
				| GitHub
		li
			a(href='http://twitter.com/mootools')
				span.icon.twitter(aria-hidden='true')
				| Twitter
		li
			a(href='#')
				span.icon.facebook(aria-hidden='true')
				| Facebook
		li
			a(href='#')
				span.icon.googleplus(aria-hidden='true')
				| Google+

