div
	h3
		| About
		span.slider(aria-hidden='true')
	ul
		li
			a(href='/blog') Blog
		li
			a(href='/books') Books
		li
			a(href='/developers') Developers
		li
			a(href='http://mad4milk.spreadshirt.net/', target='_blank') Merchandising
div
	h3
		| Support
		span.slider(aria-hidden='true')
	ul
		li
			a(href='irc://irc.freenode.net/#mootools', target='_blank') IRC Channel
		li
			a(href='http://groups.google.com/group/mootools-users', target='_blank') User Group
		li
			a(href='http://mootorial.com', target='_blank') The MooTorial
		li
			a(href='http://stackoverflow.com/questions/tagged/mootools', target='_blank') Stack Overflow

div
	h3
		| Connect with us
		span.slider(aria-hidden='true')
	ul
		li
			a(href='http://github.com/mootools', target='_blank')
				span.icon.github(aria-hidden='true')
				| GitHub
		li
			a(href='http://twitter.com/mootools', target='_blank')
				span.icon.twitter(aria-hidden='true')
				| Twitter
		li
			a(href='https://www.facebook.com/mootools', target='_blank')
				span.icon.facebook(aria-hidden='true')
				| Facebook
		li
			a(href='https://plus.google.com/u/0/117731876964599459921/posts', target='_blank')
				span.icon.googleplus(aria-hidden='true')
				| Google+

div
	h3
		| Documentation
		span.slider(aria-hidden='true')

	ul
		li
			a(href='/core/docs') MooTools Core
		li
			a(href='/more/docs') MooTools More
