#global-bar.clearfix
	div.clearfix.wrapper
		#logo
			if site == 'mootools'
				h1
					a(href='/')
						img(src='/images/logo/mootools-payoff.png', alt='MooTools')

				p.visually-hidden
					| Your resources for every-day JavaScripting
			else
				p
					a(href='/')
						img(src='/images/logo/mootools.png', alt='MooTools Home')

		#main-header.right.clearfix

			mixin menu-item(link, text, selected, reallySelected)
				if reallySelected == undefined
					reallySelected = selected

				mixin link
					a(href=link) #{text}
				if selected
					if reallySelected
						li.selected: mixin link
					else
						li.selected.not-really: mixin link
				else
					li: mixin link

			ul
				li.dropdown(class=('#{navigation}' == 'core' ? 'selected' : ''))
					a Core
					ul
						li
							span
								img(src="/images/logo/core.png", alt='MooTools Core')
							span 
								i We make JavaScript awesome!
						li
							a(href='/core/docs') Documentation
						li
							a(href='/core/builder') Download
						li
							a(href='/core/guides') Guides

				li.dropdown(class=('#{navigation}' == 'more' ? 'selected' : ''))
					a  More
					ul
						li
							span
								img(src="/images/logo/more.png", alt='MooTools More')
							span 
								i We make awesome plugins!
						li
							a(href='/more/docs') Documentation
						li
							a(href='/more/builder') Download
						li
							a(href='/more/guides') Guides
							
				mixin menu-item('/blog', 'Blog', navigation == 'blog')
				mixin menu-item("http://github.com/mootools", 'Contribute')

			form#search(role='search', method='get', action='/search')
				label(for='search-field')
					span.icon.search(aria-hidden='true')
					input#search-field(name='q', type='search', placeholder='Search in the site')
