#global-bar.clearfix.wrapper
	#logo
		p
			a(href='/')
				img(src='/images/mootools-logo.png', alt='MooTools')

	form#search(role='search', method='get', action='/')
		label(for='search-field')
			span.icon.search(aria-hidden='true')
			input#search-field(type='search', placeholder='Search in the site')

