#global-bar.clearfix
	div.clearfix.wrapper
		#logo
			if site == 'mootools'
				h1
					a(href='/')
						img(src='/images/logo/mootools-payoff.png', alt='MooTools')

				p.visually-hidden
					| Your resources for every-day JavaScripting
			else
				p
					a(href='/')
						img(src='/images/logo/mootools.png', alt='MooTools Home')

		div.right.clearfix
			ul
				li
					a(href='/blog')
						| Blog
				li
					a(href='#')
						| Contribute

			form#search(role='search', method='get', action='/')
				label(for='search-field')
					span.icon.search(aria-hidden='true')
					input#search-field(type='search', placeholder='Search in the site')
