#global-bar.clearfix
	div.clearfix.wrapper
		#logo
			if site == 'mootools'
				h1
					a(href='/')
						img(src='/images/logo/mootools-payoff.png', alt='MooTools')

				p.visually-hidden
					| Your resources for every-day JavaScripting
			else
				p
					a(href='/')
						img(src='/images/logo/mootools.png', alt='MooTools Home')

		div.right.clearfix

			mixin menu-item(link, text, selected)
				mixin link
					a(href=link) #{text}
				if selected
					li.selected: mixin link
				else
					li: mixin link

			ul
				mixin menu-item('/blog', 'Blog', page == 'blog')
				mixin menu-item("http://github.com/mootools", 'Contribute')
				mixin menu-item('/forge', 'Forge')

			form#search(role='search', method='get', action='/')
				label(for='search-field')
					span.icon.search(aria-hidden='true')
					input#search-field(type='search', placeholder='Search in the site')
