
mixin older-version-select(versions)
	p.previous-version
		label.select: select(onchange='selectVersion(this)')
			option(disabled='disabled', selected='selected') Choose a previous version
			for set in versions
				optgroup(label=set.version)
					for file in set.files
						option(value=file.link)= file.label
		span#googleLink
