h2.visually-hidden Products
ul
	li.prime
		a(href='/prime')
			img(src='/images/logo/prime.png', alt='Prime')
	li.elements
		a(href='/elements')
			img(src='/images/logo/elements.png', alt='Elements')
	li.moofx
		a(href='/moofx')
			img(src='/images/logo/moofx.png', alt='MooFx')
	li.agent
		a(href='/agent')
			img(src='/images/logo/agent.png', alt='Agent')