extends ../layouts/docs

block header-logo
	include partials/header

block header-menu
	include partials/header-menu

block content
	ul.versions
		each ver in versions
			li: a(href="/elements/docs/#{ver}")
				| #{ver}

	div.toc
		include ../partials/docs/toc
	div.content
		| !{content}
