extends ../layouts/docs

block header-logo
	include partials/header

block header-menu
	include partials/header-menu

block content
	div.versions.clearfix
		h3
			| Versions
		ul
			each ver in versions
				if version == ver
					classList = 'selected'

				li: a(href="/elements/docs/#{ver}", class=classList)
					| #{ver}

	div.toc
		include ../partials/docs/toc
	div.content
		| !{content}
