[submodule "prime-website"]
	path = prime-website
	url = git://github.com/arian/prime-website.git
[submodule "elements-website"]
	path = elements-website
	url = git://github.com/arian/elements-website.git
[submodule "mootools-microsite"]
	path = mootools-microsite
	url = git://github.com/arian/mootools-microsite.git
