menu_slick = {text: "Overview", url: "/slick"}
menu_docs = {text: "Documentation", url: "/slick/docs"}
menu_guides = {text: "Guides", url: "/slick/guides"}
menu_download = {text: "Download", url: "/builder"}

mixin menu([menu_slick, menu_docs, menu_guides, menu_download], page)
