section.main
	a(href='/slick/')
		h2
			include header
		
		p.summary
			| Slick is a standalone selector engine that is totally slick. 
		
		p.description.lighter 
			| Slick allows you to create your own custom pseudo-classes. 
			br 
			| Use the Parser by itself. Find nodes in XML documents.
		
		p.color.big-link
			span.arrow
				| Discover Slick
		
		include big-icon
