extends layouts/main

block main
	div.prime.overview.home-page.clearfix.wrapper
		include prime/partials/home-summary.jade
	hr
		
	div.elements.overview.home-page.clearfix.wrapper
		include elements/partials/home-summary.jade
	hr
	
	div.moofx.overview.home-page.clearfix.wrapper
		include moofx/partials/home-summary.jade
	hr
	
	div.agent.overview.home-page.clearfix.wrapper
		include agent/partials/home-summary.jade