extends layouts/main

block about
	div.about
		div.clearfix.wrapper
			div.introduction
				p
					| MooTools are JavaScript libraries designed for the intermediate to advanced JavaScript developer. They allows you to write powerful and flexible code with its elegant, well documented, and coherent APIs.
				p
					| MooTools code it's extensively documented and has meaningful variable names: a joy to browse and a snap to understand.

			div.license
				h2
					| Open Source License
				p
					space = ""
					| MooTools libraries are released under the #{space}
					a(href='http://opensource.org/licenses/MIT')
						| Open Source MIT license
					|  which gives you the possibility to use them and modify them in every circumstance.


block updates
	div.updates
		div.clearfix.wrapper
			section
				div.box
					h3 Blog Entries
					p Sample Text

			section.box
				div.box
					h3 GitHub Activity
					include ./partials/GitHubEvents
					mixin GitHubEvents(githubEvents, 5)

			section.box
				div.box
					h3 Latest Tweets
					p Sample Text

block main

	block about

	hr

	div.prime.overview.home-page.clearfix.wrapper
		include prime/partials/home-summary.jade

	hr

	div.elements.overview.home-page.clearfix.wrapper
		include elements/partials/home-summary.jade

	hr

	div.moofx.overview.home-page.clearfix.wrapper
		include moofx/partials/home-summary.jade

	hr

	div.agent.overview.home-page.clearfix.wrapper
		include agent/partials/home-summary.jade

	hr

	div.slick.overview.home-page.clearfix.wrapper
		include slick/partials/home-summary.jade

	hr

	// block updates
