
/* line 1 : /home/arian/www/mootools-website/website/mootools-microsite/node_modules/stylus/lib/functions/index.styl */

/* line 239 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
@font-face {
  font-family: "Entypo";
  src: url("/microsite/fonts/entypo.eot");
  src: url("/microsite/fonts/entypo.eot?#iefix") format("embedded-opentype"), url("/microsite/fonts/entypo.woff") format("woff"), url("/microsite/fonts/entypo.ttf") format("truetype"), url("/microsite/fonts/entypo.svg#entypo") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Entypo Social";
  src: url("/microsite/fonts/entypo-social.eot");
  src: url("/microsite/fonts/entypo-social.eot?#iefix") format("embedded-opentype"), url("/microsite/fonts/entypo-social.woff") format("woff"), url("/microsite/fonts/entypo-social.ttf") format("truetype"), url("/microsite/fonts/entypo-social.svg#entypo-social") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 24 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
legend,
li,
menu,
ol,
p,
pre,
ul {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 30 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
}

/* line 37 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
ol,
ul {
  list-style: none;
}

/* line 44 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
button,
input,
select,
textarea {
  -webkit-appearance: none;
  border: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-size: 100%;
  line-height: normal;
  margin: 0;
  padding: 0;
  text-transform: none;
  vertical-align: baseline;
}

/* line 58 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 63 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 68 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 72 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 77 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 84 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 88 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
legend {
  white-space: normal;
}

/* line 92 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

/* line 101 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  vertical-align: baseline;
}

/* line 108 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 115 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
sub {
  bottom: -0.25em;
}

/* line 119 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
sup {
  top: -0.5em;
}

/* line 123 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 129 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
blockquote,
q {
  quotes: none;
}

/* line 133 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* line 141 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 149 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* line 158 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
hr {
  border: 0;
  border-top: 1px solid #e5e3df;
  display: block;
  height: 0px;
  margin: 0;
  padding: 0;
}

/* line 173 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
body {
  background: #fff;
  font-size: 1em;
}

/* line 180 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 185 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.clearfix:after {
  clear: both;
}

/* line 191 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 196 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 209 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
::-moz-selection {
  background: #777571;
  color: #fff;
  text-shadow: none;
}

/* line 215 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
::selection {
  background: #777571;
  color: #fff;
  text-shadow: none;
}

/* line 223 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
a {
  color: #777571;
  display: inline-block;
  text-decoration: none;
}

/* line 229 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
a:hover {
  color: #777571;
}

/* line 233 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
a:active,
a:focus {
  background: #777571;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff !important;
  outline: none;
}

/* line 244 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
body,
button,
html,
input,
select,
textarea {
  color: #777571;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
}

/* line 250 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}

/* line 254 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
b,
strong {
  font-weight: 400;
}

/* line 258 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
pre {
  background: #f4f1ed;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: "Source Code Pro", "Lucida Console", "Monaco", "Courier New", monospace;
  font-size: 0.8em;
  font-weight: 400;
  padding: 1em;
}

/* line 269 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
pre span.string {
  color: #008000;
}

/* line 274 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
input,
textarea,
select {
  -webkit-appearance: none;
  background: #f4f1ed;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #777571;
  cursor: pointer;
}

/* line 284 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* line 290 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.button {
  background: #f4f1ed;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #777571 !important;
  display: block;
  font-size: 1.1em;
  position: relative;
}

/* line 301 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.button span {
  display: block;
  padding: 0.5em 0.6em;
  line-height: 1;
}

/* line 307 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.button span span {
  padding: 0;
}

/* line 311 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.button span span.icon {
  font-size: 400%;
  position: absolute;
  top: 0.3em;
  right: 0.1em;
  line-height: 0;
}

/* line 319 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.button span.version {
  display: block;
  font-size: 0.8em;
  margin-top: 0.2em;
}

/* line 325 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.button.highlighted {
  background: #acaaa7;
  color: #fff !important;
}

/* line 330 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.button.highlighted .icon {
  color: #fff;
}

/* line 334 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.lighter {
  color: #acaaa7;
}

/* line 338 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
a:active .lighter,
a:focus .lighter {
  color: #fff;
}

/* line 342 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.darker {
  color: #777571;
}

/* line 346 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
a:active .darker,
a:focus .darker {
  color: #fff;
}

/* line 350 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.summary {
  font-size: 1.4em;
}

/* line 354 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.description {
  font-size: 1.2em;
}

/* line 358 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.npm {
  background: #777571;
  color: #fff;
  margin: 1em 0;
}

/* line 364 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.command {
  display: block;
  font-weight: 400;
  margin-bottom: 0.25em;
}

/* line 370 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.wrapper {
  margin: 0 auto;
  max-width: 64em;
  padding: 0 4%;
}

/* line 378 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.arrow:after {
  content: "";
  font-family: "Entypo";
}

/* line 383 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.icon {
  bottom: -0.1em;
  color: #acaaa7;
  font-size: 220%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 392 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
a:active .icon,
a:focus .icon {
  color: #fff;
}

/* line 396 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.download:after {
  content: "";
  font-family: "Entypo";
}

/* line 401 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.github:after {
  content: "";
  font-family: "Entypo Social";
}

/* line 406 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.twitter:after {
  content: "";
  font-family: "Entypo Social";
}

/* line 411 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.facebook:after {
  content: "";
  font-family: "Entypo Social";
}

/* line 416 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.googleplus:after {
  content: "";
  font-family: "Entypo Social";
}

/* line 421 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.search {
  position: absolute;
  right: 0.25em;
  top: 0.25em;
  cursor: pointer;
}

/* line 428 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.search:after {
  content: "\1F50D";
  font-family: "Entypo";
}

/* line 436 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
#global-bar {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* line 441 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
#logo {
  float: left;
}

/* line 445 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
#logo img {
  height: 24px;
}

/* line 449 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
#search {
  float: right;
}

/* line 453 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
#search label {
  display: block;
  position: relative;
}

/* line 458 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
#search input {
  font-size: 0.8em;
  padding: 0.3em 1em;
}

/* line 463 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
#header {
  border-bottom: #777571 1px solid;
}

/* line 467 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
#header a {
  color: #acaaa7;
}

/* line 471 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
#header a:active,
#header a:focus {
  background: transparent;
}

/* line 475 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
#header a:active span,
#header a:focus span {
  background: #777571;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 485 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.docs a {
  position: relative;
}

/* line 489 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.overview .summary {
  margin-bottom: 1.5em;
}

/* line 493 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.overview .description {
  margin-bottom: 1.5em;
}

/* line 497 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.overview .license {
  font-size: 0.8em;
  margin: 1em 0 3em;
}

/* line 502 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.overview .use li {
  float: left;
  width: 50%;
}

/* line 507 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.overview .use li a {
  margin: 0 0 0 0.35em;
}

/* line 511 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.overview .use li:first-child a {
  margin: 0 0.35em 0 0;
}

/* line 515 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.overview .use .button {
  height: 3em;
}

/* line 519 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.features a {
  display: block;
  position: relative;
}

/* line 527 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
#menu a {
  background: #f4f1ed;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: transparent 1px solid;
  display: block;
  padding: 0.6em 0 0.4em;
  text-align: center;
}

/* line 538 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
#menu a:active,
#menu a:focus {
  border-color: #e5e3df;
}

/* line 542 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
#menu img {
  height: 1.6em;
}

/* line 546 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
#sitemap {
  font-size: 0.8em;
}

/* line 550 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
#sitemap h3 {
  color: #e5e3df;
  font-weight: 400;
}

/* line 555 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
#sitemap ul li a {
  display: block;
}

/* line 559 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
#sitemap ul li a span.icon {
  margin-right: 0.2em;
}

/* line 563 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
#credits {
  font-size: 0.8em;
}

/* line 567 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
#credits img {
  height: 2em;
  margin: 0 0 1em;
}
@media only screen and (max-width: 47.999em) {

/* line 577 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .arrow:after {
    font-size: 200%;
    margin-top: -0.15em;
    position: absolute;
    right: 0;
    top: 0;
  }

/* line 585 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .slider:after {
    content: "";
    float: right;
    font-family: "Entypo";
    font-size: 140%;
  }

/* line 592 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .overview {
    padding-top: 2em;
    padding-bottom: 180px;
    position: relative;
  }

/* line 598 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .overview .big-icon {
    width: 100%;
    bottom: 0;
    left: 0;
    height: 180px;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    text-align: center;
  }

/* line 609 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .overview .big-icon img {
    height: auto;
    opacity: 0.3;
    max-width: 320px;
  }

/* line 615 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .overview .summary {
    font-size: 120%;
  }

/* line 619 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .overview .description {
    font-size: 100%;
  }

/* line 623 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .modules {
    padding-top: 1em;
    padding-bottom: 1em;
  }

/* line 628 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .modules div {
    margin-top: 1em;
  }

/* line 632 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .modules .docs {
    margin-top: 1em;
  }

/* line 636 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .modules .docs a {
    display: block;
  }

/* line 640 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .features {
    padding-top: 1em;
    padding-bottom: 1em;
  }

/* line 645 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .features section {
    margin-top: 1em;
  }

/* line 649 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .features section:first-child {
    margin-top: 0;
  }

/* line 653 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .features section p {
    max-width: 80%;
  }

/* line 657 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .features section .arrow:after {
    font-size: 400%;
    margin-top: 0.05em;
  }

/* line 662 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .features section a p {
    margin-top: 0.5em;
  }

/* line 666 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #header .wrapper {
    padding: 0;
  }

/* line 670 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #header h1 {
    padding: 0.5em 4%;
  }

/* line 674 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #header ul li a {
    display: block;
    padding: 0.5em 4%;
    border-top: 1px solid #e5e3df;
    cursor: pointer;
    display: none;
  }

/* line 678 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #header ul li.selected a {
    display: block;
  }

/* line 682 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #menu {
    margin-bottom: 1em;
  }

/* line 686 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #menu li {
    float: left;
    width: 50%;
    margin: 1em 0 0;
  }

/* line 692 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #menu li:nth-of-type(1n) a {
    margin: 0 0.5em 0 0;
  }

/* line 696 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #menu li:nth-of-type(2n) a {
    margin: 0 0 0 0.5em;
  }

/* line 700 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #footer.wrapper {
    padding: 0;
  }

/* line 704 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #sitemap div {
    border-bottom: 1px solid #e5e3df;
  }

/* line 708 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #sitemap div h3 {
    color: #acaaa7;
    cursor: pointer;
    padding: 0.5em 4%;
  }

/* line 714 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #sitemap div ul {
    display: none;
  }

/* line 718 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #credits {
    padding: 1em 4% 2em;
  }
}
@media only screen and (min-width: 48em) {

/* line 729 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .arrow:after {
    font-size: 160%;
    margin-left: 0.25em;
    position: relative;
    top: 0.1em;
    vertical-align: baseline;
  }

/* line 737 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .overview {
    padding-top: 2em;
    position: relative;
  }

/* line 742 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .overview .big-icon {
    bottom: 0;
    height: 230px;
    overflow: hidden;
    position: absolute;
    right: 4%;
    width: 400px;
    z-index: -1;
  }

/* line 752 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .overview .big-icon img {
    height: auto;
    opacity: 0.3;
    width: 100%;
  }

/* line 758 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .overview .use {
    max-width: 40%;
  }

/* line 762 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .modules {
    padding-top: 2em;
    padding-bottom: 2em;
  }

/* line 767 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .modules section {
    position: relative;
  }

/* line 771 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .modules div {
    margin-top: 2em;
    width: 48%;
  }

/* line 776 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .modules div:nth-of-type(1) {
    float: left;
  }

/* line 780 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .modules div:nth-of-type(2) {
    float: right;
  }

/* line 784 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .modules div pre {
    margin-top: 1em;
  }

/* line 788 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .modules .docs {
    position: absolute;
    right: 0;
    top: 0;
  }

/* line 794 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .features {
    padding-top: 2em;
    padding-bottom: 2em;
  }

/* line 799 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .features section {
    float: left;
    width: 33.333%;
  }

/* line 804 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .features section:nth-of-type(1) a {
    margin: 0 1.75em 0 0;
  }

/* line 808 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .features section:nth-of-type(2) a {
    margin: 0 1.25em 0;
  }

/* line 812 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .features section:nth-of-type(3) a {
    margin: 0 0 0 1.75em;
  }

/* line 816 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  .features section a p {
    margin-top: 1em;
  }

/* line 820 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #header .wrapper div {
    position: relative;
  }

/* line 824 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #header h1 {
    padding: 1em 0;
  }

/* line 828 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #header nav {
    bottom: 0em;
    position: absolute;
    right: 0;
  }

/* line 834 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #header nav ul li {
    float: left;
    margin-left: 1em;
  }

/* line 839 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #header nav ul li:first-child {
    margin-left: 0;
  }

/* line 843 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #header nav ul li a {
    position: relative;
  }

/* line 847 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #header nav ul li a span {
    position: relative;
    top: -1em;
  }

/* line 852 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #header nav ul li.selected a {
    color: #777571;
  }

/* line 856 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #header nav ul li.selected a:after {
    background: #fff;
    border: 1px solid;
    border-color: #777571 #777571 transparent transparent;
    bottom: -6px;
    content: "";
    display: block;
    height: 10px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 10px;
  }

/* line 880 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #menu {
    margin-top: 1em;
    margin-bottom: 1em;
  }

/* line 885 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #menu li {
    float: left;
    width: 25%;
  }

/* line 890 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #menu li:nth-of-type(1) a {
    margin: 0 0.6em 0 0;
  }

/* line 894 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #menu li:nth-of-type(2) a {
    margin: 0 0.45em 0 0.3em;
  }

/* line 898 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #menu li:nth-of-type(3) a {
    margin: 0 0.3em 0 0.45em;
  }

/* line 902 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #menu li:nth-of-type(4) a {
    margin: 0 0 0 0.6em;
  }

/* line 906 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #footer.wrapper {
    padding-top: 1em;
    padding-bottom: 3em;
  }

/* line 911 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #sitemap {
    float: right;
  }

/* line 915 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #sitemap div {
    float: left;
    margin-left: 2em;
  }

/* line 920 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #sitemap h3 {
    margin-bottom: 0.3em;
  }

/* line 924 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
  #credits {
    float: left;
  }
}

/* line 934 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.prime .button.highlighted {
  background: #eb6f14;
}

/* line 938 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.prime #header {
  border-color: #eb6f14;
}

/* line 942 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.prime #header nav ul li.selected a {
  color: #eb6f14;
}

/* line 946 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.prime #header nav ul li.selected a:after {
  border-color: #eb6f14 #eb6f14 transparent transparent;
}

/* line 950 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.prime h2 {
  color: #eb6f14;
}

/* line 954 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.prime #main a {
  color: #eb6f14;
}

/* line 958 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.prime a:active,
.prime a:focus,
 {
  color: #fff !important;
}

/* line 962 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/global.styl */
.prime a:active h2,
.prime a:focus h2,
 {
  color: #fff !important;
}

/* line 2 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/style.styl */

/* line 2 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/style.styl */

/* line 5 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/style.styl */
.docs .toc {
  float: left;
  width: 320px;
}

/* line 9 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/style.styl */
.docs .toc a {
  display: block;
}

/* line 12 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/style.styl */
.docs .toc a.top {
  font-weight: bold;
  margin: 20px 0;
}

/* line 16 : /home/arian/www/mootools-website/website/mootools-microsite/views/css/style.styl */
.docs .content {
  margin-left: 350px;
}
