menu_moofx = {text: "Overview", url: "/moofx"}
menu_docs = {text: "Documentation", url: "/moofx/docs"}
menu_guides = {text: "Guides", url: "/moofx/guides"}

mixin menu([menu_moofx, menu_docs, menu_guides], page)
