menu_homepage = {text: "Overview", url: "/moofx"}
menu_docs = {text: "Documentation", url: "/moofx/docs"}
menu_guides = {text: "Guides", url: "/moofx/guides"}
menu_download = {text: "Download", url: "/builder"}

mixin menu([menu_homepage, menu_docs, menu_guides, menu_download], page)
