section.main
	a(href='/moofx/')
		h2
			include header
	
		p.summary
			| Animate somet cool *ish
	
		p.description.lighter Yeah, css3 baby
	
		p.color.big-link
			span.arrow
				| Discover MooFx
	
		include big-icon
