include header

p.summary
	| Animate somet cool *ish

p.description.lighter Yeah, css3 baby

p.color.big-link
	a(href='/moofx', class='arrow') Discover MooFx

.big-icon
	img(src='/images/prime-icon.png', alt='')
