p.summary
	| Animate somet cool *ish

p.description.lighter Yeah, css3 baby

.use
	pre.npm
		| npm install moofx

	ul.clearfix
		li
			a.button.highlighted(href='/builder')
				span
					| Download
					span.version Development Ver.
					span.icon.download(aria-hidden='true')
		li
			a.button.git(href='https://github.com/kamicane/moofx')
				span
					| GitHub
					br
					| Repository
					span.icon.github(aria-hidden='true')

p.license MooFx is released under the Open Source MIT License

.big-icon
	img(src='/images/moofx-icon.png', alt='')