section.main
	a(href='/elements/')
		h2
			include header
		
		p.summary
			| Minimalistic DOM Library for Prime
		
		p.description.lighter No Native JavaScript Objects were harmed in the making of this library.
		
		p.color.big-link
			span.arrow
				| Discover Elements
		
		include big-icon
