section.main
	include header

	p.summary
		| Minimalistic DOM Library for Prime

	p.description.lighter No Native JavaScript Objects were harmed in the making of this library.

	p.color.big-link
		a(href='/elements', class='arrow') Discover Elements

	include big-icon

