p.summary
	| Minimalistic DOM Library for Prime

p.description.lighter No Native JavaScript Objects were harmed in the making of this library.

.use
	pre.npm
		| npm install elements

	ul.clearfix
		li
			a.button.highlighted(href='/builder')
				span
					| Download
					span.version Development Ver.
					span.icon.download(aria-hidden='true')
		li
			a.button.git(href='http://github.com/mootools/elements')
				span
					| GitHub
					br
					| Repository
					span.icon.github(aria-hidden='true')

p.license Elements is released under the Open Source MIT License

include big-icon

