color=#bb191d

.elements .color
    color: color
    
.elements .button.highlighted
	background-color: color 


.elements #header
	border-color: color


.elements #header nav ul li.selected a
	color: color;

.elements #header nav ul li.selected a:after
	border-color: color color transparent transparent


.elements h2
	color: color;

.elements a
	color: color;

.elements a:active, .site a:focus
	color: #ffffff !important;

.elements a:active h2, .site a:focus h2
	color: #ffffff !important;

.elements .docs .toc a.top
	color: color !important;
