extends ../layouts/home

block header-logo
	a(href='/moofx/')
		include partials/header

block header-menu
	include partials/header-menu

block summary
	include partials/summary

block overview
	include partials/overview

block features
	include partials/features
