color=#eb6f14

.prime .color
    color: color
    
.prime .button.highlighted
	background-color: color 


.prime #header
	border-color: color


.prime #header nav ul li.selected a
	color: color;

.prime #header nav ul li.selected a:after
	border-color: color color transparent transparent


.prime h2
	color: color;

.prime a
	color: color;

.prime a:active, .site a:focus
	color: #ffffff !important;

.prime a:active h2, .site a:focus h2
	color: #ffffff !important;

.prime .docs .toc a.top
	color: color !important;
