.prime .button.highlighted
	background: #eb6f14


.prime #header
	border-color: #eb6f14


.prime #header nav ul li.selected a {
	color: #eb6f14;
}

.prime #header nav ul li.selected a:after
	border-color: #eb6f14 #eb6f14 transparent transparent


.prime h2 {
	color: #eb6f14;
}

.prime #main a {
	color: #eb6f14;
}

.prime a:active, .site a:focus, {
	color: #ffffff !important;
}

.prime a:active h2, .site a:focus h2, {
	color: #ffffff !important;
}

.prime .docs .toc a.top {
	color: #eb6f14 !important;
}
