
.builder

	margin-top: 2em;
	margin-bottom: 2em;

	.snippets
		li
			padding 0.1em 0

			select
				width 5em
				margin-right 0.4em

	.save
		clear left

		label
			display block
			padding 0.1em 0

@media only screen and (min-width: 48em) /* More or equal to 768 pixels */

	.builder
		.aside
		.editor
			float left

		.aside
			width 30%

		.editor
			margin-left 5%
			width 65%



