
.builder

	margin-top: 2em
	margin-bottom: 2em

	.header
		h1
			float: left
			margin: 1.5em 0em 0.5em
			width 100%

		p.wrapup
			float: right

			img
				height: 2em
				margin-left: 0.6em
				width: auto

		.save
			float left
			clear none
			margin-right 1em

	.load
		input
			margin-top: 1em
			width: 100%

	.save
		clear: both

		label
			display block
			margin-top: 1em
			position: relative

		label.select:after
			top: 7px;
		select
			width: 100%;

		input[type="checkbox"]
			margin-right: 0.5em
			vertical-align: bottom;

		input[type="submit"]
			margin-top: 0.5em
			padding: 0.5em
			width: 100%
			text-align: left

		.icon.download
			position: absolute
			right: 0.25em
			top: 0
			line-height: 1em

	.number
		background: #acaaa7
		border-radius: 10px
		color: #ffffff
		display: inline-block
		font-weight: 400
		height: 1.4em
		margin-right: 0.5em
		text-align: center
		width: 1.4em

	form
		margin-top: 1em

	.step
		clear: both
		color: #acaaa7
		font-weight: 400
		margin-top: 1em


@media only screen and (min-width: 48em) /* More or equal to 768 pixels */

	.builder
		.save
			width 35%
		table
			width 100%

			tr
				border-bottom 1px solid #acaaa7
				td
					padding .3em

					&:first-child
						width 5%
					& + td
						width 15%
					& + td + td
						width 20%
					& + td + td +td
						width 60%
