/* Based on Sublime Text's Monokai theme */

.cm-s-mootools {background: #f4f1ed; color: #777571;}
.cm-s-mootools div.CodeMirror-selected {background: #777571 !important;}
.cm-s-mootools .CodeMirror-gutter {background: #f4f1ed; border-right: 0px;}
.cm-s-mootools .CodeMirror-gutter-text {color: #bcb9b3;}
.cm-s-mootools .CodeMirror-cursor {border-left: 1px solid #777571 !important;}

.cm-s-mootools span.cm-comment {color: #bcb9b3;}
.cm-s-mootools span.cm-atom {color: #ae81ff;}
.cm-s-mootools span.cm-number {color: #429bc1;}

.cm-s-mootools span.cm-property, .cm-s-monokai span.cm-attribute {color: #777571;}
.cm-s-mootools span.cm-keyword {color: #b05098;}
.cm-s-mootools span.cm-string {color: #83a440;}

.cm-s-mootools span.cm-variable {color: #777571;}
.cm-s-mootools span.cm-variable-2 {color: #777571;}
.cm-s-mootools span.cm-def {color: #777571;}
.cm-s-mootools span.cm-error {background: #f92672; color: #777571;}
.cm-s-mootools span.cm-bracket {color: #777571;}
.cm-s-mootools span.cm-tag {color: #777571;}
.cm-s-mootools span.cm-link {color: #777571;}

.cm-s-mootools .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
