color_scheme(str, color)
    &.{str}
        color: color

pre span
    color_scheme('keyword', #b05098)
    color_scheme('number', #429bc1)
    color_scheme('string', #83a440)
    color_scheme('comment', #9c9ea0)
