pre code {
	background: #f4f1ed;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline;
	padding: 0.25em 0.5em;
	vertical-align: baseline;
}

pre span.keyword {
	color: #b05098;
}

pre span.number {
	color: #429bc1;
}

pre span.string {
	color: #83a440;
}

pre span.comment {
	color: #bcb9b3;
}
