color_scheme(str, color)
	&.{str}
		color color

pre span
	color_scheme('keyword', #b05098)
	color_scheme('number', #429bc1)
	color_scheme('string', #83a440)
	color_scheme('comment', #9c9ea0)
	color_scheme('tag', #b05098)
	color_scheme('attribute', #83a440)
	color_scheme('value', #429bc1)
	color_scheme('id', #b05098)
	color_scheme('class', #b05098)
