/* DEVELOPERS * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

div.developers
	width:100%
	
	h1
		font-size: 2em;
	
	section
		padding:0.8em 0em;
		color: #777571;
		float:left;
		width:100%;
		clear:both;
		
	img
		float:left;
		height:65px;
		margin:0.4em 1em;
		
	h3,p.inline
		display: inline;
		
	p.small
		font-size: 0.9em;
		a
			color:#88b;
			