/* D O C S * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.docs
	padding-bottom 2em

	.versions
		background #e5e8ed
		border-radius 5px
		color #3c3a37
		margin 0 0 2em
		padding 0.5em 1em
		h3
			float left

		ul
			float right
			li
				font-weight 400
				float left
				margin 0 0 0 0.5em
				position relative

		a
			background #ffffff
			border-radius 3px
			color #dedfdf !important
			font-size 0.85em
			padding 0.25em 0.5em
			&.selected
				background #ffffff
				color #777571 !important
				&:after
					background #ffffff
					bottom -4px
					content ""
					display block
					height 6px
					left 50%
					margin-left -3px
					position absolute
					transform-origin center
					transform rotate(-45deg)
					width 6px

	.toc
		border-radius 5px
		border solid #dedfdf 1px
		font-size 0.9em
		line-height 1em

		.small
			height 1em
			ul
				display none

		ul
			border-top solid #dedfdf 1px
			padding 0.5em 1em 1em
			overflow none
			&:first-child
				border-top none

			li ul
				border-top solid #dedfdf 1px
				padding 0
			h3
				padding 0.7em 0 0.3em 0
				color #575551 !important
				font-weight 400
			a
				color #575551
				display block
				padding 0.3em 0.5em
				margin-left -0.2em

				&.top
					color #7d8aa5
					font-size 1.2em
					margin 0 0 0.5em

		a.top:after
			color #dedfdf
			icon-down-open-mini()
			float right
			font-family "Entypo"
			font-size 140%

		a.top:active, a.top:focus
			background-color #777571
			&:after
				color #ffffff

	.content
		margin 0 0 2em

		.heading:first-child
			h1
				border 0
				margin 0
				padding 0
			.back-to-top
				display none

		h1
			border-top solid 1px #dedfdf
			margin 2em 0 0
			padding 1.5em 0 0
			a
				padding 0 0.2em
				margin-left -0.2em

		h2
			background #5a5d60
			border-radius 5px
			margin 2em 0 0.5em
			padding 0.15em 0.5em 0.25em
			a
				color #ffffff !important
				padding 0 0.2em
				margin-left -0.2em
				&:focus, &:active
					background-color #ffffff
					color #5a5d60 !important

		h3
			border-radius 5px
			border solid #dedfdf 1px
			font-weight 400
			margin 1.5em 0 0
			padding 0.15em 0.5em 0.25em

		h4
			border-radius 5px
			border solid #f4f1ed 1px
			color #acaaa7
			font-size 1.125em
			font-weight 400
			margin 1.5em 0 0.5em
			padding 0.15em 0.5em 0.25em

		h5
			color #acaaa7
			font-size 1em
			font-weight 400
			margin 1.5em 0 0

		p
			margin 0.5em 0

		ol
			counter-reset li /* Initiate a counter */
			list-style none /* Remove default numbering */
			*list-style decimal /* Keep using default numbering for IE6/7 */
			position relative
			> li
				margin-top 0.5em
				padding-left 1.5em
				&:before
					background #b1b9c9
					border-radius 3px
					content counter(li)
					counter-increment li
					font-size 0.75em
					font-weight 600
					left 0
					padding 0.15em 0.5em
					position absolute
					color #ffffff
					margin-top 0.15em

		ul li
			margin 0.5em 0 0 1em
			position relative
			&:after
				icon-right-open-mini()
				font-family "Entypo"
				color #7d8aa5
				position absolute
				left -1em
				font-size 100%
				margin 0.2em 0.5em 0 0
				top 0em

		pre
			margin 0.5em 0 0

		a.back-to-top:before
			color #ffffff
			icon-up-open-mini()
			margin-right 0.5em
			font-family "Entypo"
			font-size 110%

		a.back-to-top
			color #ffffff !important
			font-size 0.8em
			margin-top -3.4em
			padding 0.3em 0.5em
			position absolute !important
			right 0.5em

		a.back-to-top:active, a.back-to-top:focus
			background-color #ffffff
			color #5a5d60 !important
			&:before
				color #5a5d60 !important

.heading
	position relative
