
icon-check() { content '\e801' } /* '' */
icon-up-open-big() { content '\e813' } /* '' */
icon-minus-squared() { content '\e807' } /* '' */
icon-arrow-combo() { content '\e800' } /* '' */
icon-down-circled() { content '\e802' } /* '' */
icon-left-circled() { content '\e803' } /* '' */
icon-right-circled() { content '\e804' } /* '' */
icon-up-circled() { content '\e805' } /* '' */
icon-down-open() { content '\e808' } /* '' */
icon-left-open() { content '\e811' } /* '' */
icon-plus-squared() { content '\e806' } /* '' */
icon-up-open() { content '\e80b' } /* '' */
icon-down-open-mini() { content '\e809' } /* '' */
icon-left-open-mini() { content '\e80d' } /* '' */
icon-right-open-mini() { content '\e80c' } /* '' */
icon-up-open-mini() { content '\e80a' } /* '' */
icon-down-open-big() { content '\e810' } /* '' */
icon-left-open-big() { content '\e80e' } /* '' */
icon-right-open-big() { content '\e80f' } /* '' */
icon-right-open() { content '\e812' } /* '' */
