/* F O O T E R * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#menu
	box-shadow: #e5e3df 0px 0px 30px;
	padding: 0 0 1em;
	a
		border-radius: 5px;
		border: solid #e5e3df 1px;
		display: block;
		padding: 0.6em 0 0.4em;
		text-align: center;
		&:active,
		&:focus
			border-color: #e5e3df;

	img
		height: 1.6em;

#sitemap
	font-size: 0.8em;
	h3
		color: #cfcecb;
		font-weight: 400;

	ul li a
		padding: 0em 0.5em;
		margin-left: -0.5em;
		display: block;
		span.icon
			margin-right: 0.2em
			font-size: 100%

#credits
	font-size: 0.8em;
	p
		margin: 0 0 1em;

	img.mootools
		height: 2.2em;
		padding: 0.5em;
		margin-left: -0.5em;
	p.mediatemple a
		background: url("/images/credits/mediatemple.png") no-repeat left top
		background-size: auto 16px;
		color: #acaaa7;
		font-size: 0.85em;
		font-weight: 600;
		padding-left: 46px;
