@import 'nib'

/* F O N T S * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@font-face {
	font-family: "Entypo";
	src: url("/fonts/entypo.eot");
	src: url("/fonts/entypo.eot?#iefix") format("embedded-opentype"),
		url("/fonts/entypo.woff") format("woff"),
		url("/fonts/entypo.ttf") format("truetype"),
		url("/fonts/entypo.svg#entypo") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Entypo Social";
	src: url("/fonts/entypo-social.eot");
	src: url("/fonts/entypo-social.eot?#iefix") format("embedded-opentype"),
		url("/fonts/entypo-social.woff") format("woff"),
		url("/fonts/entypo-social.ttf") format("truetype"),
		url("/fonts/entypo-social.svg#entypo-social") format("svg");
	font-weight: normal;
	font-style: normal;
}


/* R E S E T * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Reset Browser Defaults */

blockquote, body, dd, div, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, legend, li, menu, ol, p, pre, ul {
	border: 0;
	margin: 0;
	padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
}

ol, ul {
	list-style: none;
}


/* Forms */

button, input, select, textarea {
	appearance: none;
	border: 0;
	box-sizing: border-box;
	font-size: 100%;
	line-height: normal;
	margin: 0;
	padding: 0;
	text-transform: none;
	vertical-align: baseline;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	appearance: button;
	cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="search"] {
	appearance: textfield;
	box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	appearance: none;
}

legend {
	white-space: normal;
}

textarea {
	overflow: auto;
	resize: vertical;
	vertical-align: top;
}


/* Typography */

html {
	font-size: 100%;
	text-size-adjust: 100%;
	vertical-align: baseline;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}


/* Tables */

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Images */

img {
	border: 0;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

/* Horizontal Rule */

hr {
	border: 0;
	border-top: 1px solid #e5e3df;
	display: block;
	height: 0px;
	margin: 0;
	padding: 0;
}



/* G L O B A L * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Body & Wrapper */

body {
	background: #ffffff;
	font-size: 1em;
}

/* Clearfix */

.clearfix
	clearfix()

/* Hidden */

.hidden {
	display: none !important;
	visibility: hidden;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Text Selection */

::-moz-selection {
	background: #777571;
	color: #ffffff;
	text-shadow: none;
}

::selection {
	background: #777571;
	color: #ffffff;
	text-shadow: none;
}

/* Links Style & Focus */

a,
.grey-link.grey-link-override a {
	color: #777571;
	display: inline-block;
	text-decoration: none;
}

a:hover,
.grey-link.grey-link-override a:hover{
	color: #777571;
}

a:active,
a:focus,
.grey-link.grey-link-override a:active,
.grey-link.grey-link-override a:focus {
	background: #777571;
	border-radius: 3px;
	color: #ffffff !important;
	outline: none;
}

/* Fonts */

body, button, html, input, select, textarea {
	color: #777571;
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}

b,
strong {
	font-weight: 400;
}

pre {
	background: #f4f1ed;
	border-radius: 5px;
	display: block;
	font-family: "Source Code Pro", "Lucida Console", "Monaco", "Courier New", monospace;
	font-size: 0.85em;
	font-weight: 400;
	padding: 1em;
}

code {
	background: #f4f1ed;
	border-radius: 3px;
	display: inline;
	font-family: "Source Code Pro", "Lucida Console", "Monaco", "Courier New", monospace;
	font-size: 0.75em;
	font-weight: 600;
	padding: 0.25em 0.5em;
	vertical-align: baseline;
}

pre code {
	background: transparent;
	border-radius: 0px;
	font-size: 1em;
	font-weight: 400;
	padding: 0;
}

/* Forms */
input,
textarea,
select {
	appearance: none;
	background: #F4F1ED;
	border: transparent 1px solid;
	border-radius: 5px;
	color: #777571;
	cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
	border: #e5e3df 1px solid;
}

/* Classes */

.button {
	background: #F4F1ED;
	border-radius: 5px;
	color: #777571 !important;
	display: block;
	font-size: 1.1em;
	position: relative;
	span {
		display: block;
		padding: 0.5em 0.6em;
		line-height: 1;
		span {
			padding: 0;
			&.icon {
				font-size: 400%;
				position: absolute;
				top: 0.3em;
				right: 0.1em;
				line-height: 0;
			}
		}
		&.version {
			display: block;
			font-size: 0.8em;
			margin-top: 0.2em;
		}
	}
	&.highlighted {
		background: #acaaa7;
		color: #ffffff !important;
		.icon {
			color: #ffffff;
		}
	}
}



.lighter {
	color: #acaaa7;
}

a:active .lighter,
a:focus .lighter {
	color: #ffffff;
}

.darker {
	color: #777571;
}

a:active .darker,
a:focus .darker {
	color: #ffffff;
}

.summary {
	font-size: 1.4em;
}

.description {
	font-size: 1.2em;
}

.npm {
	background: #777571;
	color: #ffffff;
	margin: 1em 0;
}

.command {
	border-radius: 5px;
	border: #e5e3df 1px solid;
	display: block;
	font-weight: 400;
	margin-bottom: 0.5em;
	padding: 0.15em 0.5em 0.25em;
}

.wrapper {
	margin: 0 auto;
	max-width: 64em;
	padding: 0 4%;
}

/* Icons */

.arrow:after {
	content: "";
	font-family: "Entypo";
}

.icon {
	bottom: -0.1em;
	color: #acaaa7;
	font-size: 220%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

a:active .icon,
a:focus .icon {
	color: #ffffff;
}

.previous:after {
	content: "";
	font-family: "Entypo";
}

.next:after {
	content: "";
	font-family: "Entypo";
}

.download:after {
	content: "";
	font-family: "Entypo";
}

.github:after {
	content: "";
	font-family: "Entypo Social";
}

.twitter:after {
	content: "";
	font-family: "Entypo Social";
}

.facebook:after {
	content: "";
	font-family: "Entypo Social";
}

.googleplus:after {
	content: "";
	font-family: "Entypo Social";
}

.search {
	position: absolute;
	right: 0.25em;
	top: 0.25em;
	cursor: pointer;
}

.search:after {
	color: #e5e3df;
	content: "\1F50D";
	font-family: "Entypo";
}


/* H E A D E R * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#global-bar {
	box-shadow: #e5e3df 0px 0px 30px;
	padding-bottom: 1em;
	padding-top: 1em;
	position: relative;
	z-index: 100;
	div.wrapper {
		position: relative;
		div.right {
			bottom: 0;
			position: absolute;
			right: 4%;
		}
	}
	ul {
		float: left;
		li {
			float: left;
			margin-right: 0.5em;
			a {
				background: #F4F1ED;
				border-radius: 3px;
				border: #F4F1ED 1px solid;
				display: block;
				font-size: 0.8em;
				font-weight: 400;
				padding: 0.3em 0.5em;
				&:active, &:focus {
					background: #777571;
					border-color: #777571;
				}
			}
			&.selected a {
				background: #777571;
				border-color: #777571;
				color: #ffffff
			}
		}
	}
}

body.mootools #global-bar {
	padding-bottom: 2em;
	padding-top: 2em;
	h1 {
		padding: 0;
	}
}

#logo {
	float: left;
	h1 img {
		height: 70px !important;
	}
	p img {
		height: 27px;
	}
}

#search {
	float: left;
	margin-left: 0.5em;
	label {
		display: block;
		position: relative;
	}
	input {
		background: transparent;
		border-color: #e5e3df;
		display: block;
		font-size: 0.8em;
		font-weight: 400;
		padding: 0.3em 0.5em;
		&:focus {
			border-color: #acaaa7;
		}
	}
}

#header {
	border-bottom: #777571 1px solid;
	h1 img {
		height: 90px;
		width: auto;
	}
	a {
		color: #acaaa7;
		font-size: 1.125em;
		&:active, &:focus {
			background: transparent;
			span {
				background: #777571;
				border-radius: 3px;
			}
		}
	}
}


/* M A I N * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.about {
	background: #F4F1ED;
	padding-top: 0em;
	padding-bottom: 1em;
	.introduction p {
		font-size: 1.4em;
		margin: 1em 0;
	}
	.license {
		background: #acaaa7;
		border: #e5e3df 1px solid;
		border-radius: 5px;
		color: #ffffff;
		margin: 1.5em 0 0;
		padding: 1em;
		h2 {
			margin-bottom: 0.5em;
		}
		a {
			color: #ffffff;
			text-decoration: underline;
		}
	}
}


/*

Try smaller texts on homepage

.home-page h2 img {
	height: 60px !important;
}

.home-page p {
	font-size: 110%;
}
*/

.updates {
	padding-top: 1em;
	padding-bottom: 1em;
	div.box {
		background: #F4F1ED;
		border-radius: 5px;
		padding: 1em;
	}
	h3 {
		font-weight: 400;
		margin-bottom: 1em;
	}
}

.blog {
	margin-top: 2em;
	margin-bottom: 2em;
	hr {
		margin-top: 2em;
		margin-bottom: 2em;
	}
	h2 {
		font-size: 2.5em;
	}
	h3 {
		font-size: 2.5em;
	}
	small {
		background: #F4F1ED;
		border-radius: 5px;
		display: block;
		font-size: 0.8em;
		font-weight: 400;
		margin: 0.5em 0 2em;
		padding: 0.5em 1em;
		a {
			background: #acaaa7
			border-radius: 3px
			color: #ffffff
			display: inline
			padding: 0 0.5em
		}
		.comments {
			float: right;
		}
	}
	.post p {
		font-size: 1.1em;
		line-height: 1.4em;
		margin: 1em 0;
		a {
			font-weight: 600;
			text-decoration: underline;
		}
	}
}



.blog .pagination {
	a {
		background: #F4F1ED
		border-radius: 5px
		padding: 1em
		width: 46%
	}
	a .icon {
		font-size: 320%;
	}
	.older {
		float: left
		text-align: right
	}
	.newer {
		float: right
		text-align: left
	}
	.icon.previous {
		float: left;
		margin-right: 0.5em
	}
	.icon.next {
		float: right;
		margin-left: 0.5em
	}
}

.docs a {
	position: relative;
}

.overview {
	.summary, .description {
		margin-bottom: 1.5em;
	}
	.license {
		font-size: 0.8em;
		margin: 1em 0 3em;
	}
	.use {
		li {
			float: left;
			width: 50%;
			a {
				margin: 0 0 0 0.35em;
			}
			&:first-child a {
				margin: 0 0.35em 0 0;
			}
		}
		.button {
			height: 3em;
		}
	}
	&.home-page {
		a {
			display: block;
		}
		img {
			height: 90px;
			width: auto;
		}
	}
	.big-link {
		font-size: 1.313em;
	}
}

.features a {
	display: block;
	position: relative;
}


/* F O O T E R * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#menu {
	box-shadow: #e5e3df 0px 0px 30px;
	padding: 0 0 1em;
	a {
		border-radius: 5px;
		border: #e5e3df 1px solid;
		display: block;
		padding: 0.6em 0 0.4em;
		text-align: center;
		&:active, &:focus {
			border-color: #e5e3df;
		}
	}
	img {
		height: 1.6em;
	}
}

#sitemap {
	font-size: 0.8em;
	h3 {
		color: #cfcecb;
		font-weight: 400;
	}
	ul li a {
		display: block;
		span.icon {
			margin-right: 0.2em;
		}
	}
}

#credits {
	font-size: 0.8em;
	p {
		margin: 0 0 1em;
	}
	img {
		height: 2em;
	}
}




/* D O C S * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.docs {
	padding-bottom: 2em;
}

.docs .versions {
	background: #F4F1ED;
	border-radius: 5px;
	color: #acaaa7;
	margin: 0 0 2em;
	padding: 0.5em 1em;
	h3 {
		float: left;
	}
	ul {
		float: right;
		li {
			font-weight: 400;
			float: left;
			margin: 0 0 0 0.5em;
		}
	}
	a {
		background: #ffffff;
		border-radius: 3px;
		color: #ccc7c1 !important;
		font-size: 0.85em;
		padding: 0.25em 0.5em;
		&.selected {
			background: #ffffff;
			color: #777571 !important;
			&:after {
				background: #ffffff;
				bottom: -4px;
				content: "";
				display: block;
				height: 6px;
				left: 50%;
				margin-left: -3px;
				position: absolute;
				transform-origin: center;
				transform: rotate(-45deg);
				width: 6px;
			}
		}
	}
}

.docs .toc {
	border-radius: 5px;
	border: #e5e3df 1px solid;
	font-size: 0.9em;
	line-height: 1em;
	ul {
		border-top: #e5e3df 1px solid;
		padding: 1em 1em;
		&:first-child {
			border-top: none;
		}
		li ul {
			border-top: none;
			padding: 0;
		}
		a {
			color: #777571 !important;
			display: block;
			margin: 0.5em 0 0;
			&:active, &:focus {
				color: #ffffff !important;
			}
			&.top {
				font-size: 1.2em;
				margin: 0 0 1em;
			}
		}
	}
	a.top:after {
		color: #acaaa7;
		content: "";
		float: right;
		font-family: "Entypo";
		font-size: 140%;
	}
}

.docs .content {
	margin: 0 0 2em;
	h1 {
		border-top: 1px solid #e5e3df;
		margin: 3em 0 0;
		padding: 1.5em 0 0;
		&:first-child {
			border: 0;
			margin: 0;
			padding: 0;
		}
	}
	h2 {
		background: #777571;
		border-radius: 5px;
		margin: 2em 0 0.5em;
		padding: 0.15em 0.5em 0.25em;
		a {
			color: #ffffff !important;
		}
	}
	h3 {
		border-radius: 5px;
		border: #e5e3df 1px solid;
		font-weight: 400;
		margin: 1.5em 0 0;
		padding: 0.15em 0.5em 0.25em;
	}
	h4 {
		border-radius: 5px;
		border: #f4f1ed 1px solid;
		color: #acaaa7;
		font-size: 1.125em;
		font-weight: 400;
		margin: 1.5em 0 0.5em;
		padding: 0.15em 0.5em 0.25em;
	}
	h5 {
		color: #acaaa7;
		font-size: 1em;
		font-weight: 400;
		margin: 1.5em 0 0;
	}
	p {
		margin: 0.5em 0;
	}
	ol {
		counter-reset: li; /* Initiate a counter */
		list-style: none; /* Remove default numbering */
		*list-style: decimal; /* Keep using default numbering for IE6/7 */
		position: relative;
		li {
			margin: 0.5em 0 0 1.5em;
			&:before {
				background: #f4f1ed;
				border-radius: 3px;
				content: counter(li);
				counter-increment: li;
				font-size: 0.75em;
				font-weight: 600;
				left: 0;
				padding: 0.15em 0.5em;
				position: absolute;
			}
		}
	}
	ul li {
		margin: 0.5em 0 0;
		&:after {
			content: "";
			float: left;
			font-family: "Entypo";
			font-size: 160%;
			margin: 0 0.25em 0 0;
		}
	}
	pre {
		margin: 0.5em 0 0;
	}
}

.heading {
	position: relative;
}

a.back-to-top {
	background: #F4F1ED;
	border-radius: 5px;
	color: #777571 !important;
	font-size: 0.8em;
	margin-top: -3.4em;
	padding: 0.25em 0.5em;
	position: absolute !important;
	right: 0.5em;
}



/* M O B I L E * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media only screen and (max-width: 47.999em) { /* Less than 600 pixels */

	.arrow:after {
		font-size: 160%;
		margin-left: 0.25em;
		position: relative;
		top: 0.10em;
		vertical-align: baseline;
	}

	.home-page .arrow:after {
		top: 0.08em;
	}


	.slider:after {
		content: "";
		float: right;
		font-family: "Entypo";
		font-size: 140%;
	}

	.overview {
		padding-top: 2em;
		padding-bottom: 180px;
		position: relative;
		.big-icon {
			width: 100%;
			bottom: 0;
			left: 0;
			height: 180px;
			overflow: hidden;
			position: absolute;
			z-index: -1;
			text-align: center;
			img {
				height: auto;
				opacity: 0.2;
				max-width: 320px;
			}
		}
		.summary {
			font-size: 120%;
		}
		.description {
			font-size: 100%;
		}
	}

	.modules {
		padding-top: 1em;
		padding-bottom: 1em;
		div {
			margin-top: 1em;
		}
		.docs {
			margin-top: 1em;
			a {
				display: block;
			}
		}
	}

	.features {
		padding-top: 1em;
		padding-bottom: 1em;
		section {
			margin-top: 1em;
			&:first-child {
				margin-top: 0;
			}
			p {
				max-width: 80%;
			}
			a p {
				margin-top: 0.5em;
			}
		}
	}

	.docs .content {
		margin-top: 2em;
	}

	.docs .toc {
		ul {
			a.top {
				margin-bottom: 0;
			}
			ul {
				display: none; /* Simulate JS slider behaviour. It has to be replaced with JS. */
			}
		}
	}

	.updates section {
		margin-top: 1em;
		&:nth-of-type(1) {
			margin-top: 0;
		}
	}

	#logo {
		float: none;
		h1 {
			text-align: center;
		}
	}

	.home-page {
		padding-top: 1em;
		padding-bottom: 1em;
		.big-icon {
			display: none;
		}
	}

	#global-bar div.wrapper div.right {
		position: static;
		margin-top: 1.5em;
		ul {
			display: none;
		}
	}

	body.mootools #search {
		float: none;
		margin: 0 auto;
		position: static;
		max-width: 293px;
		input {
			width: 100%;
		}
	}

	#header {
		.wrapper {
			padding: 0;
		}
		h1 {
			padding: 0.5em 4%;
		}
		ul {
			li {
				overflow: hidden;
				height: 0;
				opacity: 0;
				transition: all 0.4s ease;
				a {
					border-top: #e5e3df 1px solid;
					cursor: pointer;
					display: block;
					padding: 0.5em 4%;
				}
			}
			&.opened li,
			li.selected {
				height: 2.6em
				opacity: 1
			}
		}
	}

	#menu li {
		float: left;
		width: 50%;
		margin: 1em 0 0;
		&:nth-of-type(1n) a {
			margin: 0 0.5em 0 0;
		}
		&:nth-of-type(2n) a {
			margin: 0 0 0 0.5em;
		}
	}

	#footer.wrapper {
		padding: 0;
	}

	#sitemap div {
		border-bottom: 1px solid #e5e3df;
		h3 {
			background: #ffffff;
		color: #acaaa7;
		cursor: pointer;
		padding: 0.5em 4%;
		}
		ul {
			display: none; /* Simulate JS slider behaviour. It has to be replaced with JS. */
		}
	}

	#credits {
		padding: 1em 4% 2em;
	}

}




/* T A B L E T * & * D E S K T O P * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media only screen and (min-width: 48em) { /* More or equal to 768 pixels */

	.arrow:after {
		font-size: 160%;
		margin-left: 0.25em;
		position: relative;
		top: 0.10em;
		vertical-align: baseline;
	}

	.overview {
		padding-top: 2em;
		position: relative;
		.big-icon {
			bottom: 0;
			height: 230px;
			overflow: hidden;
			position: absolute;
			right: 4%;
			width: 400px;
			z-index: -1;
			img {
				height: auto;
				opacity: 0.2;
				width: 100%;
			}
		}
		.use {
			max-width: 40%;
		}
	}

	.modules {
		padding-top: 2em;
		padding-bottom: 2em;
		section {
			position: relative;
		}
		div {
			margin-top: 2em;
			width: 48%;
			&:nth-of-type(1) {
				float: left;
			}
			&:nth-of-type(2) {
				float: right;
			}
			pre {
				margin-top: 1em;
			}
		}
		.docs {
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	.features {
		padding-top: 2em;
		padding-bottom: 2em;
		section {
			float: left;
			width: 33.333%;
			&:nth-of-type(1) a {
				margin: 0 1.75em 0 0;
			}
			&:nth-of-type(2) a {
				margin: 0 1.25em 0;
			}
			&:nth-of-type(3) a {
				margin: 0 0 0 1.75em;
			}
			a p {
				margin-top: 1em;
			}
		}
	}

	.docs {
		.toc {
			float: left;
			width: 26%;
		}
		.content {
			float: right;
			width: 70%;
		}
	}

	.about {
		padding-top: 2em;
		padding-bottom: 2em;
		.introduction {
			float: left;
			width: 70%;
		}
		.license {
			float: right;
			width: 25%;
		}
	}

	.home-page {
		padding-top: 2em;
		padding-bottom: 2em;
	}

	.updates {
		padding-top: 2em;
		padding-bottom: 2em;
		section {
			float: left;
			width: 33.333%;
			&:nth-of-type(1) div.box {
				margin: 0 1.75em 0 0;
			}
			&:nth-of-type(2) div.box {
				margin: 0 1.25em 0;
			}
			&:nth-of-type(3) div.box {
				margin: 0 0 0 1.75em;
			}
		}
	}

	#header {
		.wrapper div {
			position: relative;
		}
		h1 {
			padding: 1em 0;
		}
		nav {
			bottom: 0em;
			position: absolute;
			right: 0;
			ul li {
				float: left;
				margin-left: 1em;
				&:first-child {
					margin-left: 0;
				}
				a {
					position: relative;
					span {
						position: relative;
						top: -1em;
					}
				}
				&.seleced a {
					color: #777571;
					&:after {
						background: #ffffff;
						border: 1px solid;
						border-color: #777571 #777571 transparent transparent;
						bottom: -6px;
						content: "";
						display: block;
						height: 10px;
						left: 50%;
						margin-left: -5px;
						position: absolute;
						transform-origin: center;
						transform: rotate(-45deg);
						width: 10px;
					}
				}
			}
		}
	}

	#menu {
		padding-top: 1em;
		li {
			float: left;
			width: 25%;
			&:nth-of-type(1) a {
				margin: 0 0.6em 0 0;
			}
			&:nth-of-type(2) a {
				margin: 0 0.45em 0 0.3em;
			}
			&:nth-of-type(3) a {
				margin: 0 0.3em 0 0.45em;
			}
			&:nth-of-type(4) a {
				margin: 0 0 0 0.6em;
			}
		}
	}

	#footer.wrapper {
		padding-top: 2em;
		padding-bottom: 4em;
	}

	#sitemap {
		float: right;
		div {
			float: left;
			margin-left: 2em;
		}
		h3 {
			margin-bottom: 0.3em;
		}
	}

	#credits {
		float: left;
	}

	.prime .big-icon {
		height: 230px;
		width: 340px;
	}

	.elements .big-icon {
		height: 230px;
		width: 340px;
	}

	.moofx .big-icon {
		height: 250px;
		width: 340px;
	}

	.agent .big-icon {
		height: 250px;
		width: 340px;
	}

}
