@import 'nib'

/* F O N T S * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@font-face {
	font-family: "Entypo";
	src: url("/fonts/entypo.eot");
	src: url("/fonts/entypo.eot?#iefix") format("embedded-opentype"),
		url("/fonts/entypo.woff") format("woff"),
		url("/fonts/entypo.ttf") format("truetype"),
		url("/fonts/entypo.svg#entypo") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Entypo Social";
	src: url("/fonts/entypo-social.eot");
	src: url("/fonts/entypo-social.eot?#iefix") format("embedded-opentype"),
		url("/fonts/entypo-social.woff") format("woff"),
		url("/fonts/entypo-social.ttf") format("truetype"),
		url("/fonts/entypo-social.svg#entypo-social") format("svg");
	font-weight: normal;
	font-style: normal;
}






/* G L O B A L * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Body & Wrapper */

body
	background: #ffffff;
	font-size: 1em;

/* Clearfix */

.clearfix
	clearfix()

/* Hidden */

.hidden
	display: none !important;
	visibility: hidden;

.visually-hidden
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

/* Text Selection */

::-moz-selection
	background: #777571;
	color: #ffffff;
	text-shadow: none;

::selection
	background: #777571;
	color: #ffffff;
	text-shadow: none;

/* Links Style & Focus */

a,
.grey-link.grey-link-override a
	color: #777571;
	display: inline-block;
	text-decoration: none;

	&:hover
		color: #777571;

	&:active,
	&:focus
		background: #777571;
		border-radius: 3px;
		color: #ffffff !important;
		outline: none;

/* Fonts */

body, button, html, input, select, textarea
	color: #575551;
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
	font-weight: 300;

h1, h2, h3, h4, h5, h6
	font-weight: 200;

b,
strong
	font-weight: 400;

pre
	background: #FAF7F4;
	border-radius: 5px;
	display: block;
	font-family: "Source Code Pro", "Lucida Console", "Monaco", "Courier New", monospace;
	font-size: 0.85em;
	font-weight: 400;
	padding: 1em;

code
	background: #FAF7F4;
	border-radius: 3px;
	display: inline;
	font-family: "Source Code Pro", "Lucida Console", "Monaco", "Courier New", monospace;
	font-size: 0.75em;
	font-weight: 600;
	padding: 0.25em 0.5em;
	vertical-align: baseline;

pre code
	background: transparent;
	border-radius: 0px;
	font-size: 1em;
	font-weight: 400;
	padding: 0;
	
p code pre

	color: #373531;
	
	
/* Forms */
input,
textarea,
select
	appearance: none;
	border: solid #e5e3df 1px;
	border-radius: 3px;
	color: #777571;
	cursor: pointer;
	font-weight: 400;
	padding: 0.3em 0.5em;

	&:focus
		outline: none;
		border: solid #e5e3df 1px;

label
	cursor: pointer

select:after
	content: "stocazzo";

input[type="checkbox"]
	height: 1em;
	position: relative;
	width: 1em;

input[type="checkbox"]:after
	content: "✓";
	font-family: "Entypo";
	font-size: 200%;
	line-height: 0;

input[type="submit"]
	background: #F4F1ED;
	border-radius: 5px;
	color: #777571 !important;
	display: block;
	font-size: 1.1em;
	font-weight: 300

input[type="submit"]:hover
	color: #ffffff !important

/*	background: #F4F1ED;
	border: solid transparent 1px;
	border-radius: 3px;
	color: #777571;
	cursor: pointer;*/
/*
select
		background: transparent;
		border-color: #e5e3df;
		display: block;
		font-size: 0.8em;
		font-weight: 400;
		padding: 0.3em 0.5em;
		&:focus
			border-color: #acaaa7;*/


/* Classes */

.button
	background: #F4F1ED;
	border-radius: 5px;
	color: #777571 !important;
	display: block;
	font-size: 1.1em;
	position: relative;

	span
		display: block;
		padding: 0.5em 0.6em;
		line-height: 1;

		span
			padding: 0;

			&.icon
				font-size: 400%;
				position: absolute;
				top: 0.3em;
				right: 0.1em;
				line-height: 0;

		&.version
			display: block;
			font-size: 0.8em;
			margin-top: 0.2em;

	&.highlighted
		background: #acaaa7;
		color: #ffffff !important;
		.icon
			color: #ffffff;


.lighter
	color: #acaaa7;

a:active .lighter,
a:focus .lighter
	color: #ffffff;


.darker
	color: #777571;

a:active .darker,
a:focus .darker
	color: #ffffff;

.summary
	font-size: 1.4em;

.description
	font-size: 1.2em;

.npm
	background: #777571;
	color: #ffffff;
	margin: 1em 0;

.command
	border-radius: 5px;
	border: solid #e5e3df 1px;
	display: block;
	font-weight: 400;
	margin: 0.5em 0;
	padding: 0.15em 0.5em 0.25em;

.wrapper
	margin: 0 auto;
	max-width: 64em;
	padding: 0 4%;

/* Icons */

.arrow:after
	content: "";
	font-family: "Entypo";

.icon
	bottom: -0.1em;
	color: #acaaa7;
	font-size: 220%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;

a:active .icon,
a:focus .icon
	color: #ffffff;

.previous:after
	content: "";
	font-family: "Entypo";

.next:after
	content: "";
	font-family: "Entypo";

.download:after
	content: "";
	font-family: "Entypo";

.github:after
	content: "";
	font-family: "Entypo Social";

.twitter:after
	content: "";
	font-family: "Entypo Social";

.facebook:after
	content: "";
	font-family: "Entypo Social";

.googleplus:after
	content: "";
	font-family: "Entypo Social";


/* M A I N * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.about
	background: #F4F1ED;
	padding-top: 0em;
	padding-bottom: 1em;

	.introduction p
		font-size: 1.4em;
		margin: 1em 0;

	.license
		background: #acaaa7;
		border: solid #e5e3df 1px;
		border-radius: 5px;
		color: #ffffff;
		margin: 1.5em 0 0;
		padding: 1em;
		h2
			margin-bottom: 0.5em;
		a
			color: #ffffff;
			text-decoration: underline;

/*

Try smaller texts on homepage

.home-page h2 img {
	height: 60px !important;
}

.home-page p {
	font-size: 110%;
}
*/

.updates
	padding-top: 1em;
	padding-bottom: 1em;

	div.box
		background: #F4F1ED;
		border-radius: 5px;
		padding: 1em;

	h3
		font-weight: 400;
		margin-bottom: 1em;

.blog
	margin-top: 2em;
	margin-bottom: 2em;

	a
		position: relative;

	hr
		margin-top: 2em;
		margin-bottom: 2em;

	h2
		font-size: 2.5em;
	h3
		font-size: 2.5em;

	small
		background: #F4F1ED;
		border-radius: 5px;
		display: block;
		font-size: 0.8em;
		font-weight: 400;
		margin: 0.5em 0 2em;
		padding: 0.5em 1em;
		a
			background: #acaaa7
			border-radius: 3px
			color: #ffffff
			display: inline
			padding: 0 0.5em

		.comments
			float: right;

	.post p
		font-size: 1.1em;
		line-height: 1.4em;
		margin: 1em 0;
		a
			font-weight: 600;
			text-decoration: underline;


	.pagination
		a
			background: #F4F1ED
			border-radius: 5px
			padding: 1em
			width: 46%

		a .icon
			font-size: 320%;

		.older
			float: left
			text-align: right

		.newer
			float: right
			text-align: left

		.icon.previous
			float: left;
			margin-right: 0.5em

		.icon.next
			float: right;
			margin-left: 0.5em



.overview
	.summary,
	.description
		margin-bottom: 1.5em;

	.license
		font-size: 0.8em;
		margin: 1em 0 3em;

	.use
		li
			float: left;
			width: 50%;
			a
				margin: 0 0 0 0.35em;

			&:first-child a
				margin: 0 0.35em 0 0;

		.button
			height: 3em;

	&.home-page
		a
			display: block;

		img
			height: 90px;
			width: auto;

	.big-link
		font-size: 1.313em;

.features a
	display: block;
	position: relative;

