/* H E A D E R * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#global-bar
	box-shadow: #e5e3df 0px 0px 30px;
	padding-bottom: 1em;
	padding-top: 1em;
	position: fixed;
	width: 100%;
	background-color: white;
	z-index: 100;


	div.wrapper
		position: relative;
		div.right
			bottom: 0;
			position: absolute;
			right: 4%;
	ul > li > a
		&:active,
		&:focus
			background: #777571;
			border-color: #777571;
			color: #ffffff;
				
	ul
		float: left;
		li
			float: left;
			margin-right: 0.5em;
			position: relative;
			a
				border-radius: 3px;
				color: #000000;
				font-size: 1em;
				padding: 0.3em 1em 0.3em 1em;
				cursor: pointer;
		
	ul	
		li.selected > a
			background: #777571;
			border-color: #777571;
			color: #ffffff;


body.mootools #global-bar
	padding-bottom: 2em;
	padding-top: 2em;
	h1
		padding: 0;

#logo
	float: left;
	h1 img
		height: 70px !important;
	p img
		width: 150px;
		padding: 0.5em;
	img:focus, img:active
		background-color: #ffffff;;

#search
	float: left;
	margin-left: 0.5em;
	label
		display: block;
		position: relative;

	input
		background: transparent;
		border-color: #e5e3df;
		display: block;
		font-size: 0.85em;
		font-weight: 400;
		padding: 0.4em 0.5em;
		&:focus
			border-color: #acaaa7;


#header
	border-bottom: solid #777571 1px;
	margin-top: 3em;
	h1 img
		height: 90px;
		width: auto;
		padding: 0.15em;

	a
		color: #acaaa7;
		font-size: 1.125em;
		&:active,
		&:focus
			background: transparent;
			span
				background: #777571;
				border-radius: 3px;

body.mootools
	#header
		margin-top: 0px;
	#global-bar
		position: relative;