site_overrides(site, color)

	.{site} #header
		border-color: color
		nav ul li.selected a
			color: color;
			&:after
				border-color: color color transparent transparent

	.{site} .main
		.color
			color: color
		.button.highlighted
			background-color: color
		h2
			color: color
		a
			color: color
			&:active, &:focus
				color: #ffffff !important
				h2
					color: #ffffff !important;
		a.back-to-top
			color: #000000 !important

		a.back-to-top:active, a.back-to-top:focus
			color: color !important

		.docs .toc a.top
			color: color !important;
		.selected
			background-color: color
			border-color: color
