site_overrides(site, color)

	.{site} #header
		border-color: color

	.{site} #header nav ul li.selected a
		color: color

	.{site} #header nav ul li.selected a:after
		border-color: color color transparent transparent

	.{site} .main .color
		color: color

	.{site} .main .button.highlighted
		background-color: color

	.{site} .main h2
		color: color

	.{site} .main a
		color: color;

	.{site} .main a:active,
	.{site} .main a:focus
		color: #ffffff !important

	.{site} .main a:active h2,
	.{site} .main a:focus h2
		color: #ffffff !important

	.{site} .main .docs .toc a.top
		color: color !important

	.{site} #menu .selected
		background-color: color
		border-color: color