/* R E S E T * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Reset Browser Defaults */

blockquote, body, dd, div, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, legend, li, menu, ol, p, pre, ul
	border: 0;
	margin: 0;
	padding: 0;
	//-webkit-transform: translateZ(0px);

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary
	border: 0;
	display: block;
	margin: 0;
	padding: 0;

ol,
ul
	list-style: none;


/* Forms */

button,
input,
select,
textarea
	appearance: none;
	border: 0;
	box-sizing: border-box;
	font-size: 100%;
	line-height: normal;
	margin: 0;
	padding: 0;
	text-transform: none;
	vertical-align: baseline;


button,
html input[type="button"],
input[type="reset"],
input[type="submit"]
	appearance: button;
	cursor: pointer;
	padding 0.2em 0.3em

	&:hover
		background #777571
		color #f4f1ed

button::-moz-focus-inner,
input::-moz-focus-inner
	border: 0;
	padding: 0;

button[disabled],
html input[disabled]
	cursor: default;

input[type="checkbox"],
input[type="radio"]
	box-sizing: border-box;
	padding: 0;

input[type="checkbox"]
	width 0.7em
	height 0.7em
	margin 0.15em
	border-radius 3px

	&:checked
		background #777571

input[type="search"]
	appearance: textfield;
	box-sizing: border-box;

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
	appearance: none;

legend
	white-space: normal;

textarea
	overflow: auto;
	resize: vertical;
	vertical-align: top;

/* Typography */

html
	font-size: 100%;
	text-size-adjust: 100%;
	vertical-align: baseline;

sub,
sup
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;

sub
	bottom: -0.25em;

sup
	top: -0.5em;

pre
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;

q,
blockquote
	quotes: none;

	&:before,
	&:after
		content: "";
		content: none;


/* Tables */

table
	border-collapse: collapse;
	border-spacing: 0;


/* Images */

img
	border: 0;
	max-width: 100%;
	height: auto;
	vertical-align: middle;

/* Horizontal Rule */

hr
	border: 0;
	border-top: solid 1px #e5e3df;
	display: block;
	height: 0px;
	margin: 0;
	padding: 0;