@import reset
@import entypo
@import entypo-social
@import global
@import docs
@import guides
@import header
@import footer
@import media
@import colorscheme
@import mootools
@import builder
@import developers


// temp until guides are up
.features
	text-align left

	section
		width 50%
