menu_core = {text: "Overview", url: "/core"}
menu_docs = {text: "Documentation", url: "/core/docs"}
menu_guides = {text: "Guides", url: "/core/guides"}
menu_download = {text: "Download", url: "/builder/core"}
 
mixin menu([menu_core, menu_docs, menu_guides, menu_download], page)
