menu_core = {text: "Overview", url: "/core"}
menu_docs = {text: "Documentation", url: "/core/docs"}
menu_download = {text: "Builder", url: "/core/builder"}

mixin menu([menu_core, menu_docs, menu_download], page)

//
	menu_guides = {text: "Guides", url: "/core/guides"}
	mixin menu([menu_core, menu_docs, menu_guides, menu_download], page)
