h2 Modules Overview
div
	h3
		span.command MooTools Class
	p
		| A simple MooTools Class example.
	:highlight(lang=js)
		var Animal = new Class({
			initialize: function(age){
				this.age = age;
			}
		});
		var Cat = new Class({
			Extends: Animal,
			initialize: function(name, age){
				this.parent(age); // calls initalize method of Animal class
				this.name = name;
			}
		});
		var myCat = new Cat('Micia', 20);
		alert(myCat.name); // alerts 'Micia'.
		alert(myCat.age); // alerts 20.

div
	h3
		span.command implement
	p This method implements a new method to the Array type's prototype.
	:highlight(lang=js)
		Array.implement('limitTop', function(top){
			for (var i = 0, l = this.length; i < l; i++){
				if (this[i] > top) this[i] = top;
			}
			return this;
		});

		[1, 2, 3, 4, 5, 6].limitTop(4); // returns [1, 2, 3, 4, 4, 4]

p.docs
	a(href='/core/docs')
		span.arrow Full Documentation
