p.summary
	| MooTools Core is an Object Oriented JavaScript library.
	br
	| It helps you with prototypal inheritance
	br
	| and contains generic utilities for every-day JavaScripting.

p.description.lighter No Native JavaScript Objects were harmed in the making of this library.

.use

	ul.clearfix
		li
			a.button.highlighted(href='/builder')
				span
					| Download
					span.version Ver. 1.5.1
					span.icon.download(aria-hidden='true')
		li
			a.button.git(href='http://github.com/mootools/mootools-core')
				span
					| GitHub
					br
					| Repository
					span.icon.github(aria-hidden='true')
p.license Core is released under the Open Source MIT License


include big-icon
