include ../../partials/older-version-select

p.summary
	| MooTools is a compact, modular, Object-Oriented JavaScript framework designed for the intermediate to advanced JavaScript developer. 
	br
	| It allows you to write powerful, flexible, and cross-browser code with its elegant, well documented, and coherent API.

p.description.lighter MooTools is about enhancing JavaScript.

.use

	ul.clearfix
		li
			form(method="post", action="../builder")
				input(hidden, name="project", value="#{project}")
				input(hidden, name="version", value="#{version}")
				a.button.highlighted.getFile(href='#', download)
					span
						| Download
						span.version Ver. #{version}
						span.icon.download(aria-hidden='true')
		li
			a.button.git(href='http://github.com/mootools/mootools-core')
				span
					| GitHub
					br
					| Repository
					span.icon.github(aria-hidden='true')

mixin older-version-select(versions)

p.license 
	| To choose which modules to use visit the 
	a(href='#{site}/builder') builder page.


include big-icon
