menu_project = {text: "Overview", url: "./"}
menu_docs = {text: "Documentation", url: "docs"}
menu_download = {text: "Download", url: "builder"}

// 
	menu_guides = {text: "Guides", url: "guides"}
	mixin menu([menu_project, menu_docs, menu_guides, menu_download], page)
