
.moofx .button.highlighted {
	background: #8d2e85;
}

.moofx #header {
	border-color: #8d2e85;
}

.moofx #header nav ul li.selected a {
	color: #8d2e85;
}

.moofx #header nav ul li.selected a:after {
	border-color: #8d2e85 #8d2e85 transparent transparent;
}

.moofx h2 {
	color: #8d2e85;
}

.moofx #main a {
	color: #8d2e85;
}