.site .button.highlighted {
	background: #8d2e85;
}

.site #header {
	border-color: #8d2e85;
}

.site #header nav ul li.selected a {
	color: #8d2e85;
}

.site #header nav ul li.selected a:after {
	border-color: #8d2e85 #8d2e85 transparent transparent;
}

.site h2 {
	color: #8d2e85;
}

.site #main a {
	color: #8d2e85;
}