
.agent .button.highlighted
	background: #47388a


.agent #header
	border-color: #47388a


.agent #header nav ul li.selected a {
	color: #47388a;
}

.agent #header nav ul li.selected a:after
	border-color: #47388a #47388a transparent transparent


.agent h2 {
	color: #47388a;
}

.agent #main a {
	color: #47388a;
}

.agent a:active, .site a:focus, {
	color: #ffffff !important;
}

.agent a:active h2, .site a:focus h2, {
	color: #ffffff !important;
}

.agent .docs .toc a.top {
	color: #47388a !important;
}
